/*------------------------------------------------------------------
    [Main Style Stylesheet]
    Project:       DesignBold Template
    Version:        2.0.1
    Author:         Danh Cong
    Skype:          congnd91
    Author URI:     https://danhcong.com    
-------------------------------------------------------------------
-------------------------------------------------------------------*/

@import "scss/variables";
@import "scss/mixins";
@import "scss/icon_fonts";
@import "scss/header";
@import "scss/footer";
