.db-footer .footer-left .social a{
	background: none !important;
}
.db-footer .footer-col ul li {
	padding: 0;
	line-height: 20px;
}
body.designitmenu{

}
body.logged-in.admin-bar{
	margin-top: 50px !important;
}
body.logged-in.admin-bar header.db-header {
	top: 32px;
}
.db-header{
	font-size: 14px;
	z-index: 99999;
}
.db-header .user-info{
	margin-top: 10px;
}
.db-header .main-menu ul li{
	padding: 0 !important;
}
.db-header .open .dropdown-menu:hover{
	color: #333 !important;
}
.db-header .user-head h3 .upgrade, .db-footer .allright p{
	font-size: 11px;
}
.db-header .user-head p{
	font-size: 12px;
}
.db-header .db-coins p, .db-footer .footer-col ul li a,
.db-header .user-balance .db-coins p{
	font-size: 13px;
}
.db-header .open>.dropdown-menu, .db-footer .footer-col h4, .db-header .user-info-dropdown{
	font-size: 14px !important;
}
.db-header .user-head h3{
	line-height: 1.2;
	font-size: 16px;
}
.db-header .main-menu > ul > li ul{
    display: block;
}
.db-header .main-menu{
	margin-left: 0;
}
.db-header .user-link{
	margin-top: 10px;
}
.db-header .main-menu ul li:first-child {
    margin-left: 0;
}
.db-header .main-menu>ul>li:first-child>a{
	padding-left: 0;
}
.db-header .user-info{
	display: none;
}
.db-header .main-menu > ul > li > a{
	font-weight: normal;
	color: #353535;
}